/* .tecno-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
} */
/* @media screen( min-width: 725px) {
    .tecno-container{
        grid-template-columns: 4fr;
        background: yellow;
    }
} */